.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bold {
    font-weight: var(--font-weight-bold);
}

.uploader__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.upload-container {
    width: 100%;
    border-radius: 40px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    transition:
        background-color 0.3s,
        border-color 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 240px;
    box-sizing: border-box;
    background-color: var(--bg-uplodaer);
}

.upload-container.dragging {
    background-color: var(--bg-success);
}
