.upload-button {
    background-color: var(--btn-color-upload);
    color: var(--color-dark);
    border: none;
    padding: 15px 27px 15px 27px;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}

.upload-button:hover {
    opacity: 0.8;
}

.file-info {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #d9f0ff;
    border-radius: 6px;
    padding: 8px 16px;
    color: #0b3d91;
    font-weight: 600;
    max-width: 100%;
    box-sizing: border-box;
    user-select: text;
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.remove-button {
    display: flex;
    min-width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--text-main);
    border: 0;
    padding: 8px;
    cursor: pointer;
    margin-left: 10px;
}
